@import "_variables";
@import "_centres";
@import "_controls";
@import "_entities";
@import "_sankey";

.fa-stack-50pc {
  position: absolute;
  left: 25%;
  top: 15%;
  width: 100%;
  text-align: center;
  font-size: .25em;
  &.fa-cloud {
    text-shadow: 1px 1px 0 hsl(0, 0%, 100%);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:before, &:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
    Top-level layout
*/
body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    .right-column, .middle-column{
        height: 100vh;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .right-column{
        min-width: 20em;
        width: 30%;
    }
    .middle-column{
        min-width: 30em;
        width: 50%;
    }
}



.map-app {
  min-width: 50%;
  .map {
    min-width: 100%;
    height : 29em;
  }
}


/* Too narrow to support three columns */
@media all and (max-width: 640px) {
  .flex-container {
    -webkit-flex-direction: column;
    flex-direction: column;
    .controls, .map-app, .flow-app {
    	width: 96%;
    	margin: 2%;
    }
    td > * {
      display: block;
    }
  }
}


.controls, .map-app {
  /*use flex properties ?*/
  margin: auto 1em;
  margin-top: 1em;
}
.map-app {
	margin-left: 0;
	margin-right: 0;
}



.metadata {
	background: none repeat scroll 0% 0% hsla(0, 0%, 100%, 0.7);
	margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    
	p.leaflet-control-attribution.leaflet-control {
		padding: 0;
		padding-left: .5em;
		margin: 0;
		font: 12px/1.75 "Helvetica Neue",Arial,Helvetica,sans-serif;
	}
}
